<form method="post" action="/users/signup">
  <label for="username">Enter a username:</label>
  <div>
    <textarea name="username" id="username" rows="1" cols="50"></textarea>
  </div>
  <label for="password">Enter a password</label>
  <div>
    <textarea name="password" id="password" rows="1" cols="50"></textarea>
  </div>
  <button type="submit">Register</button>
</form>