<form method="post" action="/upload" enctype="multipart/form-data">
  <label for="file">Upload an image:</label>
  <div>
    <input name="file" type="file"/>
    <button type="submit">Upload</button>
  </div>
</form>

<p>Valid Formats: .jpg, .gif</p>